[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
responses = "*"
ipdb = "*"
pytest-cov = "*"

[packages]
django-mercadopago = {editable = true,path = "."}
coverage = "*"
factory_boy = "*"
pytest-django = "*"

[requires]
python_version = "3.7"
